node_data/flows.json
[
    {
        "id": "5945f3027cece58d",
        "type": "tab",
        "label": "Write Random To Influx",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5323a821f1e51d7d",
        "type": "tab",
        "label": "Read Data From Influx",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90edbd0f28312c17",
        "type": "tab",
        "label": "MQTT To Influx Patrimoine",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cde74565544ad0a1",
        "type": "tab",
        "label": "MQTT TO Influx Test",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "7abcc61cd0ec02fb",
        "type": "influxdb",
        "hostname": "iot-app-influxdb-1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "My-influx-db",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://iot-app-influxdb-1:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "4a2559e506c443ea",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6f2df0479bb1cf7b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e9398bb705f1a540",
        "type": "ui_group",
        "name": "Default",
        "tab": "4a2559e506c443ea",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2935b4bfdf914a16",
        "type": "mqtt-broker",
        "name": "Thethings",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "678313e0a56b5a06",
        "type": "influxdb out",
        "z": "5945f3027cece58d",
        "influxdb": "7abcc61cd0ec02fb",
        "name": "Write to Influxdb",
        "measurement": "building",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "formation",
        "bucket": "IoTLoRa",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "43af652bf84f9a8c",
        "type": "inject",
        "z": "5945f3027cece58d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "ecc1a3d609bbbf1d"
            ]
        ]
    },
    {
        "id": "d3527f6c884a15d8",
        "type": "inject",
        "z": "5945f3027cece58d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "5fd98c3e0f289db7"
            ]
        ]
    },
    {
        "id": "ecc1a3d609bbbf1d",
        "type": "random",
        "z": "5945f3027cece58d",
        "name": "",
        "low": "25",
        "high": "30",
        "inte": "false",
        "property": "payload",
        "x": 520,
        "y": 440,
        "wires": [
            [
                "1da1d6ef14c8a260"
            ]
        ]
    },
    {
        "id": "1da1d6ef14c8a260",
        "type": "change",
        "z": "5945f3027cece58d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"temperature\": msg.payload}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 500,
        "wires": [
            [
                "678313e0a56b5a06",
                "cdcfbd23117ef0a9"
            ]
        ]
    },
    {
        "id": "cdcfbd23117ef0a9",
        "type": "debug",
        "z": "5945f3027cece58d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 460,
        "wires": []
    },
    {
        "id": "5fd98c3e0f289db7",
        "type": "random",
        "z": "5945f3027cece58d",
        "name": "",
        "low": "15",
        "high": "60",
        "inte": "false",
        "property": "payload",
        "x": 500,
        "y": 580,
        "wires": [
            [
                "1b41b056f8b9da67"
            ]
        ]
    },
    {
        "id": "1b41b056f8b9da67",
        "type": "change",
        "z": "5945f3027cece58d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"humidity\": msg.payload}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 600,
        "wires": [
            [
                "678313e0a56b5a06",
                "1a3e0f4924440833"
            ]
        ]
    },
    {
        "id": "1a3e0f4924440833",
        "type": "debug",
        "z": "5945f3027cece58d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 720,
        "wires": []
    },
    {
        "id": "65f680d7caf9a149",
        "type": "influxdb in",
        "z": "5323a821f1e51d7d",
        "influxdb": "7abcc61cd0ec02fb",
        "name": "",
        "query": "from(bucket: \"IoTLoRa\")\n  |> range(start: -1d, stop: now())\n  |> filter(fn: (r) => r[\"_measurement\"] == \"building\")\n  |> filter(fn: (r) => r[\"_field\"] == \"temperature\")\n  |> yield(name: \"temperature\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "formation",
        "x": 590,
        "y": 360,
        "wires": [
            [
                "6b28613b6de6273d",
                "c098888792300e23",
                "b0a4de64b96bf319"
            ]
        ]
    },
    {
        "id": "6b28613b6de6273d",
        "type": "debug",
        "z": "5323a821f1e51d7d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "b338ef07c8f60e11",
        "type": "inject",
        "z": "5323a821f1e51d7d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "65f680d7caf9a149"
            ]
        ]
    },
    {
        "id": "bd19d39685bbf199",
        "type": "ui_chart",
        "z": "5323a821f1e51d7d",
        "name": "",
        "group": "e9398bb705f1a540",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1370,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c098888792300e23",
        "type": "json",
        "z": "5323a821f1e51d7d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 560,
        "wires": [
            [
                "5956123b7b548df0"
            ]
        ]
    },
    {
        "id": "5956123b7b548df0",
        "type": "debug",
        "z": "5323a821f1e51d7d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 740,
        "wires": []
    },
    {
        "id": "b0a4de64b96bf319",
        "type": "change",
        "z": "5323a821f1e51d7d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"temperature\": msg.payload[1]._value, \"date\":msg.payload[1]._time}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 240,
        "wires": [
            [
                "b3fe0c0e747154c4",
                "bd19d39685bbf199"
            ]
        ]
    },
    {
        "id": "b3fe0c0e747154c4",
        "type": "debug",
        "z": "5323a821f1e51d7d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "f09c53438fa420e4",
        "type": "mqtt in",
        "z": "90edbd0f28312c17",
        "name": "",
        "topic": "v3/energy-efficiency-usmb@ttn/devices/+/up",
        "qos": "2",
        "datatype": "json",
        "broker": "2935b4bfdf914a16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "b2af71aea1ab474c"
            ]
        ]
    },
    {
        "id": "af6e966c6d470fa2",
        "type": "influxdb out",
        "z": "90edbd0f28312c17",
        "influxdb": "7abcc61cd0ec02fb",
        "name": "Write to Influxdb",
        "measurement": "building",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "formation",
        "bucket": "IoTLoRa",
        "x": 1060,
        "y": 460,
        "wires": []
    },
    {
        "id": "0a86f33e99d44d4c",
        "type": "debug",
        "z": "90edbd0f28312c17",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "08f0dfe10e852e24",
        "type": "debug",
        "z": "90edbd0f28312c17",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 660,
        "wires": []
    },
    {
        "id": "b2af71aea1ab474c",
        "type": "change",
        "z": "90edbd0f28312c17",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t{\t\"Temperature\" : payload.uplink_message.decoded_payload.TempC_SHT\t},\t{\"Capteur\": payload.end_device_ids.device_id}\t]\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 400,
        "wires": [
            [
                "af6e966c6d470fa2",
                "08f0dfe10e852e24"
            ]
        ]
    },
    {
        "id": "e40f23f77397ada2",
        "type": "mqtt in",
        "z": "cde74565544ad0a1",
        "name": "",
        "topic": "v3/energy-efficiency-usmb@ttn/devices/+/up",
        "qos": "2",
        "datatype": "json",
        "broker": "2935b4bfdf914a16",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "901909ebac76d7fa",
                "4ed616d8055d6601"
            ]
        ]
    },
    {
        "id": "db9a503526c08c60",
        "type": "influxdb out",
        "z": "cde74565544ad0a1",
        "influxdb": "7abcc61cd0ec02fb",
        "name": "Write to Influxdb",
        "measurement": "building",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "formation",
        "bucket": "IoTLoRa",
        "x": 1140,
        "y": 540,
        "wires": []
    },
    {
        "id": "901909ebac76d7fa",
        "type": "debug",
        "z": "cde74565544ad0a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 300,
        "wires": []
    },
    {
        "id": "bea8c617b0584d8d",
        "type": "debug",
        "z": "cde74565544ad0a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 740,
        "wires": []
    },
    {
        "id": "4ed616d8055d6601",
        "type": "change",
        "z": "cde74565544ad0a1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t\"Temperature\" : payload.uplink_message.decoded_payload.TempC_SHT,\t\"Capteur\" : payload.end_device_ids.device_id\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 480,
        "wires": [
            [
                "db9a503526c08c60",
                "bea8c617b0584d8d"
            ]
        ]
    }
]